@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&family=Inter:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0 auto;
  font-family: 'Inter' !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-title {
  font-family: "Exo 2";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
